@model practicaV1.Models.cAlquiler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>cAlquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idAlquiler" />
            <div class="form-group">
                <label asp-for="idAlquiler" class="control-label"></label>
                <input asp-for="idAlquiler" class="form-control" />
                <span asp-validation-for="idAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaHoraEntrada" class="control-label"></label>
                <input asp-for="fechaHoraEntrada" class="form-control" />
                <span asp-validation-for="fechaHoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaHoraSalida" class="control-label"></label>
                <input asp-for="fechaHoraSalida" class="form-control" />
                <span asp-validation-for="fechaHoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costoTotal" class="control-label"></label>
                <input asp-for="costoTotal" class="form-control" />
                <span asp-validation-for="costoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacion" class="control-label"></label>
                <input asp-for="observacion" class="form-control" />
                <span asp-validation-for="observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkHabitacion" class="control-label"></label>
                <input asp-for="fkHabitacion" class="form-control" />
                <span asp-validation-for="fkHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkCliente" class="control-label"></label>
                <input asp-for="fkCliente" class="form-control" />
                <span asp-validation-for="fkCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkRegistrador" class="control-label"></label>
                <input asp-for="fkRegistrador" class="form-control" />
                <span asp-validation-for="fkRegistrador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkEstado" class="control-label"></label>
                <input asp-for="fkEstado" class="form-control" />
                <span asp-validation-for="fkEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
